<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>todo</title>
  <script src="index.js"></script>
</head>
<body>
  <h2>Todo</h2>
  <div ng-controller="TodoListController as todoList">
    <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
    [ <a href="" ng-click="todoList.archive()">archive</a> ]
    <ul class="unstyled">
      <ons-list>
        <ons-list-item ng-repeat="todo in todoList.todos">
            <label class="checkbox">
                <input type="checkbox" ng-model="todo.done">
                <div class="checkbox__checkmark"></div>
                <span class="ons-checkbox-inner"></span>
                {{todo.text}}
            </label>
        </ons-list-item>
      </ons-list>
    </ul>
    <form ng-submit="todoList.addTodo()">
      <input class="text-input"
             type="text"
             ng-model="todoList.todoText"
             placeholder="add new todo here">
      <ons-button modifier="material"
                  ng-click="todoList.addTodo()">
        add
      </ons-button>
    </form>
  </div>
</body>
</html>
